{% extends "frames/frames.html" %}

{% block title %}About{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1 style="padding-top: 10px">About my 'Data Incubator' capstone project - Talent Beyond Boundaries</h1>
      <br>
      <h3>A data based approach to support labor migration by matching refugee skills to open positions</h3>
      <hr>
      	<p>This proposal looks at how organizations can drive 'Diversity and Inclusion' programs by using a data driven approach to match refugee talent with current opportunities for employement. Such an approach has the potential to address business needs to hire highly skilled, dedicated professionals while also having a range of social benefits that support UN development initiatives. (Cousins & Laurie 2019)

		A recent Deloitte whitepaper presents research into how companies are 'Creating Value and Impact Through the Alternative Workforce', pointing to market shifts such as rapidly developing technology, market globalization and the need for agile workforce strategies as a unique opportunity for businesses to leverage global market changes (Dikau & Hatfield 2020). In parallel, the growing field of 'People Analytics' suggests that corporations can apply data science to their talent strategy to improve on their people processes.</p>

		<img src="{{ url_for('static', filename='img/proposed_approach.png') }}" width="1000" height="545">

    </div>
  </div>
</div>

{% endblock %}