{% extends "frames/frames.html" %}

{% block title %}About Daniel{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1 style="padding-top: 10px">Daniel B. Macdonald</h1>
      <br>
	      <table>
	         <tr>
	            <th><img src="{{ url_for('static', filename='img/DBM_headshot.jpg') }}" width="150" height="138"><br></th>
	            <th><p style="padding-left: 20px; padding-right: 20px;font-weight: normal">
            	My name is Daniel, and I have a passion for helping people align their skills and capabilities with their market opportunity.  I am a husband and a father who has been working as a human capital consultant with IBM since 2007.  I have my masters degree from Cornell University in Industrial Labor Relations (MILR) and a Masters of Science in Data Science from Northwestern University (MSPA).  I have a diverse background, beginning with a career in the field of production arts, design and teaching.<br>
            <br>
				After completing my first masters degree, I shifted into the world of human capital management and found a job working for IBM first in Central Eastern Europe, Russia & CIS, then across the Middle East and Africa.  I returned to IBM HQ in Armonk, NY in 2019, and my most recent projects have focused on talent management and people analytics for IBM Research and Cloud & Cognitive Software.<br>
			<br>
				My experience puts me in a position to help global organizations hire and retain top technical talent while designing talent management programs to optimize workforce development, skills growth, and to drive diversity and culture.  My experience in Data Science means that I often rely on data to assess the right direction and build technologies that make the employee experience more engaging.</p></th>
	         </tr>
	      </table>

    </div>
  </div>
</div>

{% endblock %}